body{text-align: center;
    margin-top: 5%;
    margin-bottom: 8%;
    background-image: url(../hy1.avif);
    height: 600px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.input1{
    margin-bottom: 20px;
    width: auto;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 5px;
}
#input3{
    width: 100px;
    background-color: rgb(240, 179, 11);
    border-radius: 5px;
    border-color:#d2b71e;
    font-size:14px;
    box-shadow: 1px 1px 4px rgb(240, 179, 11);
    margin-top: 10px;
}
#div{margin-left: 13%;
    margin-right: 58%;
    margin-bottom: 3%;
    border: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px rgb(75, 134, 134);
    color:aliceblue
}
